$gray: #5b6364;
$light-gray: #9da1a2;
$dark-gray: #7c8283;

$green: #348f6c;
$caramel: #cca06e;

.gray{
	color: $gray;
}

.light-gray{
	color: $light-gray;
}

.dark-gray{
	color: $dark-gray;
}


.green{
	color: $green;
}